.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    /* justify-content: center; */
    height: -webkit-fill-available;
}

.mat-tab-class {
    display: flex;
    flex-direction: column;
    align-items: center;
}


::ng-deep .mat-tab-label-content{
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}

.mat-raised-button {
    width: 10rem;
}

.mat-raised-button:last-child {
    margin-top: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 9rem;
    padding-top: 5rem;
    font-size: 3rem;
    color: #ff9a51; 
}

img {
    height: 64px;
    width: 64px;
}