<div class="container">
    <div class="title">
        STREAM CREW
        <img src="assets/logo.png">
    </div>
    <mat-tab-group>
        <mat-tab label="Create">
            <div class="mat-tab-class">
                Enter Username
                <input type="text" [(ngModel)]="userName" style="margin-bottom: 1rem; width: 70%;" placeholder="username">
                <button mat-raised-button color="primary" (click)="createSessionClick(movieName, userName)">Create Session</button>
            </div>
        </mat-tab>
        <mat-tab label="Join">
            <div class="mat-tab-class">
                Enter Username
                <input type="text" [(ngModel)]="userName" placeholder="username">
                Enter Session Id
                <input type="text" [(ngModel)]="sessionId" placeholder="sessionid">
                <button mat-raised-button color="primary" (click)="joinSessionClick(sessionId, userName)">Join Session</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>